.hidden {
  display: none;
}

button {
  background: #006994;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 15px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: ease all 0.25s;

  &:hover {
    background: #004864;
  }

  &.remove {
    background: white;
    color: #8b0000;
    border: solid 2px #8b0000;

    &:hover {
      background: #8b0000;
      color: white;
    }
  }
}